// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFD470;
$orange: #FFA970;
$green: #00A676;
$gray: #626E7F;
$light-gray: white;
$light-orange: rgba(255,243,214, 0.5);
$light-orange-no-opa: rgb(255,243,214);
