.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #fed8b1;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #f8a68d;
  color: white;
}

.btn-ghost {
  font-size: 16.5px;
  margin-right: 8px;
  color: #212121;
  border: 1px solid #8D8DAA;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: #001E6C;
}

.btn-active {
  font-size: 16px;
  font-weight: bold;
  color:#E45826;
  border: 1px solid #1B1A17;
  background-color: #E1E5EA;
}

.btn-active:hover {
  opacity: 1;
  color:#E45826;
}
