.card-body-infos {
  max-width: 65%;
  position: relative;
}

.card-title-hive {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-body-price {
  display: flex;
  align-items: flex-start;

  span { margin-left: 6px; }
}
