.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}
.navbar-brand {
  padding: 0px;
}

.navbar-nav {
  align-items: center;
  .dropdown {
    cursor: pointer;
  }
}

.align-item-dropdown {
  padding: 8px;
}

#bells {
  color: $yellow;
  font-size:24px;
}
